/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 800;
  --weight-semi-bold: 700;
  --weight-regular: 400;

  /* Size */
  --border-radius-size: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0 50px 0;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  color: var(--color-dark-grey);
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

section {
  border-bottom: 1px solid var(--color-light-white);
}

.section__container {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

/* navbar */
#navbar {
  background-color: var(--color-dark-grey);
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
  z-index: 1;
}

.navbar__logo {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
}

.navbar__logo a {
  padding-left: 5px;
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  font-weight: var(--weight-bold);
  padding: 5px 10px;
  cursor: pointer;
  margin: 0px 4px;
  border-radius: var(--border-radius-size);
  color: var(--color-white);
  background-color: var(--color-dark-grey);
}

.navbar__menu__item.onScroll {
  background-color: var(--color-dark-pink);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

#home {
  padding: 40px;
  padding-top: 80px;
  text-align: center;
}

.home__avatar {
  width: 500px;
  border-radius: 10px;
}

.home__description {
  color: var(--color-dark-grey);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  background-color: var(--color-dark-grey);
  margin: 30px 10px 10px 10px;
  padding: 8px;
  border-radius: var(--border-radius-size);
}

.home__contact:hover {
  background-color: var(--color-dark-pink);
}

.about__skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}

.skill {
  width: 280px;
  margin: 5px 0;
}

.skill_icon {
  margin: auto;
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  border: 1px var(--color-blue) solid;
  border-radius: 50%;
  color: var(--color-blue);
}

.skill_icon:hover i {
  color: var(--color-pink);
  transform: scale(1.1);
  transition: all var(--animation-duration) ease;
}

.skill__title,
.skill__description {
  color: var(--color-dark-grey);
}

.education {
  display: flex;
  justify-content: center;
}

.education__name,
.education__subName {
  text-align: left;
  padding-left: 30px;
  color: var(--color-dark-grey);
}

.education__period {
  color: var(--color-dark-grey);
  font-size: var(--font-small);
}

#projects ul {
  list-style-type: disc;
  text-align: left;
}

#projects ul li {
  line-height: 25px;
  color: var(--color-dark-grey);
}

#projects h1 {
  margin-bottom: 20px;
}

.projects__projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project__img {
  width: 250px;
  margin: 15px 0;
  border-radius: var(--border-radius-size);
}

.project {
  display: flex;
}

.project__description {
  padding-top: 15px;
  padding-left: 50px;
}

.project__description a {
  color: var(--color-black);
  text-decoration: underline;
}

.project__description a:hover {
  color: var(--color-dark-pink);
}

.project p {
  margin: 16px 0 0 30px;
  text-align: left;
  color: var(--color-dark-grey);
}

.contact__links {
  margin: 30px;
  color: var(--color-black);
  font-size: var(--font-large);
}

.flaticon,
.flaticon a {
  color: var(--color-dark-grey);
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu__item {
    padding-top: 10px;
  }
  .navbar__menu.open {
    display: block;
  }
  .about__skills {
    flex-direction: column;
  }
  .project {
    flex-direction: column;
  }
}
